
@import '../../styles/variables.less';

.historyWrapper {
  display: flex;
  flex-wrap: wrap;
  border: thin solid #0003;
  box-shadow: 1px 3px 10px #0003;
  background-color: @secondaryColor;
  padding: 20px;
  margin: 20px 0;

  .game {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 16px;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {

  .historyWrapper {
    .game {
      margin: 10px auto;
    }
  }

}