@import '../../styles/variables.less';

.mainGame {
  .optionsWrapper {
    display: flex;
  }

  .controlWrapper {
    .gameControl {
      display: flex;
      justify-content: center;

      .confirm {
        width: auto;
        margin: 0 20px;
        background: @secondaryColor;
        color: @tertiaryColor;

        &:hover {
          background-color: @primaryColor;
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      .resetGame {
        width: auto;
        margin: 0 20px;
        color: white;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
