@import '../../styles/variables.less';

.optionCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 20px;

  .optionCard {
    width: 100%;
    margin: auto;
    padding: 20px;
    height: 500px;
    border: thin solid #ccc3;
    box-shadow: 1px 3px 10px #0004;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s all ease-in-out;
  }
}

.success {
  background-color: @success;
}

.danger {
  background-color: @danger;
}

.neutral {
  background-color: @neutral;
}

.error {
  background-color: @danger;
}
